body {
  min-height: 4096px;
  margin: 0;
  padding: 0;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: hsl(320, 100%, 60%, 30%);
  z-index: 1000;
  height: 70px;
}
